/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --first: #63AAC0;
  --second: #7794b8;
  --third:rgb(126, 100, 98);
  --dark: #0D598B;
  --light: olive;
  --elshadow: 0 0 3em #63AAC0, -10px 10px 2em #0D598B;;
  --backdrop: linear-gradient(rgb(126, 100, 98), #0D598B 100%);
  --mainBackdrop: linear-gradient(#63AAC0 0%, #32a1ce 100%);
}
body{
  background: gray;

}
header{ /* The backdrop header */
display: flex;
padding: 20px 0px 0px 0;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: top;

}
header h1{ /* Name in header */
background: var(--backdrop);;
line-height: 2;
padding: 0 30px 0 30px;
margin: 0 20px 0 0;
color: var(--first);
border-radius: 60px / 150px;
border: 3px solid var(--second);

}
header span{
display: inline-block;
animation: mover 10s linear infinite;
padding: 1px;
}
@keyframes mover{
0%{
  text-shadow: 0 0 30px rgba(0,0,0,0);
}
10%{
  text-shadow: 0 0 30px rgba(0,0,0,0);
  transform: translateY(20px);
}


50%{
  text-shadow: 0 0 30px rgba(0,0,0,0.30);
  transform: translateX(20px);
}

70%{
  text-shadow: 0 0 30px rgba(0,0,0,0);
  transform: translateY(-20px);
}
} 
header span:nth-child(1){
animation-delay: 0.5s;
}
header span:nth-child(2){
animation-delay: 0.7s;
}
header span:nth-child(3){
animation-delay: 1.0s;
}
header span:nth-child(4){
animation-delay: 1.3s;
}
header span:nth-child(5){
animation-delay: 1.6s;
}
header span:nth-child(6){
animation-delay: 1.9s;
}
header span:nth-child(7){
animation-delay: 2.2s;
}
header span:nth-child(8){
animation-delay: 2.5s;
}
header span:nth-child(9){
animation-delay: 2.8s;
}
header span:nth-child(10){
animation-delay: 3.1s;
}
#topNavBar{
display: flex;
flex-direction: column;
padding: 0 0 0 25px;    /* moves nav bar to right */
}
#Nav{   /* the nav bar itself */
display: flex;
flex-wrap: wrap;
margin-top: 20px;
background: var(--backdrop);
height: 70px;
box-shadow: #000 0px 0px 10px 0px;
margin: 0 auto;
border-radius: 60px / 150px;
border: 3px solid var(--second);
}
#Nav ul{
margin: 0 0px 0 0;
display: flex;
flex-wrap: wrap;
}
#Nav ul li{
display: flex;
flex-wrap: wrap;
list-style: none;
padding: 22px 10px 0 15px ;

}
#Nav ul li a{
color: var(--first);
text-decoration:none;
font-family:"Century Gothic";
}

#Nav ul li:hover{
background: -webkit-linear-gradient(135deg, #f34079 40%, #fc894d);
border-radius: 60px / 150px; 
}

main{
display: block
}
#none{
min-height: 100px;
}

section#About-Me{   /* container for About-Me section */
overflow: hidden;
border-radius: 0 60px / 200px; 
box-shadow: var(--elshadow);
margin: 0 0 25px 0;
}
#image_rollovers{ /* image and section container */
border-block-start: thick double #0D598B;
display: flex;
background: var(--backdrop);
box-shadow: var(--elshadow);
}
figure {    /* image container */
display: flex;
}
figure img{   /* the image with JavaScript */
display: flex;
max-width: 444px;
min-width: 444px;
max-height: 333px;
min-height: 333px;
border-radius: 25px / 75px;
}
.text{  /*  container with the text in it */
display: flex;
padding: 25px;

}
.h2{  /* about me container */
min-width: 125px;
max-height: 140px;
border-right: 5px var(--dark) groove 
}

b h2{    /* the about me letters */
margin: 25px 0px 0 5px; 
}
.p{
padding: 0 0 0 10px
}
#Portfolio{    /* main container of portfolio */
padding: 15px 15px 15px 15px;
margin: 0 10px 0 10px;
border-block-start: thick double #0D598B;
display: flex;
flex-flow: row;
flex-wrap: wrap;
min-height: 900px;
/*background: transparentvar(--backdrop);*/ 
border-radius: 30px / 120px;
box-shadow: var(--elshadow);
overflow: hidden;
justify-content: space-around ;
}
aside{
border-left: 5px var(--dark) groove;
max-height: 140px;
margin-left: 5px;;
}
article{
display: flex;
border: 2px solid black;
margin: 0 0 15px 0;
}
.container:nth-of-type(1){
flex: 0 2 700px;
background-image: url("RESTful_API.png");
background-position: center;
z-index: 1;

}
.container:nth-of-type(2){
flex: 0 0 300px;
background-image: url("./WeatherApp.png");
background-size: auto;
background-repeat: no-repeat;
z-index: 1;
}
.container:nth-of-type(3){
flex: 0 0 300px;
background-image: url("Notes_with_Express.png");
background-position: center;
z-index: 1;
}
.container:nth-of-type(4){
flex: 0 0 300px;
background-image: url("pet-search.png");
background-position: center;
z-index: 1;

}
.container:nth-of-type(5){
flex: 0 0 300px;
background-image: url("./ComingSoon.jpeg");
background-position: center;
z-index: 1;

}
#label{
margin-top: 25px;
padding:3px;
border: 2px solid var(--third);
border-left: none;
border-radius: 0 15px 15px 0;
background-color: #0D598B;
color: var(--first);
}
#label:hover{
text-decoration: none;
cursor: pointer;
color:whitesmoke;
}
#label:after{
border-radius: 9px;
background: var(--backdrop);
color: rgb(206, 203, 232);
padding: 2px;
border: 1px solid #eee;
box-shadow: var(--elshadow) ;
opacity: 1;
transition: 1s;
margin-left: 25px;
}
#label:hover:after {
opacity: .8;
position: absolute;
content:  attr(data-id);
margin: 3px;
margin: 25px 0 0 0;
}

#Contact {          /* the whole contact box */
font-family: Arial, Helvetica, sans-serif;
background-color: transparent;
display: block;
width: fit-content;
justify-content: left;
margin-left: 15px;
flex-wrap: nowrap;
box-shadow: var(--elshadow);
border-radius: 9px;
color: blue;
text-align: center;
flex: 1 2 300px;
}
.formcontainer h2 {   /* controls the Contact text */
text-decoration: underline;
font-size: xx-large;
text-align: center; 
}
form div {            /* specifies the  divs inside the form */
margin: 1em ;
display: flex;
}
.formcontainer{       /* the stuff inside the form */
filter: invert(1);
}
label {               /* controls alignment of the labels */
display: flex;
flex-direction: row;
width: 65px;
}

input, select, textarea {  /* controls alignment of the text areas in relation to the labels */
margin-left: 1em;
margin-right: 0.5em;
}
textarea {          /* the sizing of the text area */
height: 10em;
width: 20em;
}
.messages {
border: 3px solid var(--dark);
border-radius: 25px;
box-shadow: var(--elshadow);
inset: 1em;
color: red;
padding: 2em;
margin-bottom: 2em;
text-align: left;
}
#Social{
  display: flex;
  place-content: center;
  margin-bottom: 50px;
  
}
section #activator {
padding: 1em;
border: 3px solid black;
box-shadow: var(--first);
border-radius: 100%;  
}
.activator:hover{
cursor: pointer;
background-color: var(--first);

}
section img{            /* resize the icons */
width:100%;
max-width: 45px;

}
.activator{
width:100%;
max-width: 90px;

}
#slideBar{
background:linear-gradient(rgb(126, 100, 98), #0D598B 100%);
border-radius: 0 5em 5em 0;
padding: .5em;
clip-path: ellipse(50% 50% at -50% 50%);
}
#slideBar ul{
display: flex;
list-style:none;
margin: 0;
padding:0;
flex-wrap: wrap;
}
#slideOut li a:hover{
background:var(--first); ;
}
#slideOut li a{
display: block;
padding: .5em;
margin: 0 .5em;
border-radius: 50%;
transition: background-color .3s;
}
#slideOut img{
opacity: 0;
transform: translate(-10px);
}
footer{
margin-top: 100px;
height: calc(100vh - 600px);
}

@media screen and (max-width: 407px){
.container:nth-of-type(4){
  margin-left: calc(100vw - 408px);
}
.container:nth-of-type(5){
  margin-left: calc(100vw - 408px);
}
}
@media screen and (max-width: 328px){
.container:nth-of-type(4){
  margin-right: calc(100vw - 100vw);
}
.container:nth-of-type(5){
  margin-left: calc(100vw - 220px);
}
}


@media screen and (max-width: 860px){
 #Nav{
  flex-direction: column;
  flex: 1
}
ul{
  padding: 0 0 22px 0;
  justify-content: space-around;
}
#name{
  text-align: center;
  margin-left: 25px;
  
}
header{
  justify-content: flex-end;
}
.text{
  padding-left: 35px;

}
#image_rollovers{
  flex-wrap: wrap;

}
.container:nth-of-type(4){
  margin-right: calc(100vw - 408px);
  margin-right: calc(100vw - 408px);
}
}
